> Projeto Desenvolve <br>
Programa√ß√£o Intermedi√°ria com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exerc√≠cios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A c√©lula a seguir j√° carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [2]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',12)

wcwomen_df = pd.read_csv('matches_1991_2023.csv')
wcmen_df   = pd.read_csv('matches_1930_2022.csv')
wc = pd.concat((wcwomen_df,wcmen_df)).reset_index()

nomes_traduzidos = {'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
                    'Date': 'data', 'Year': 'ano', 'Host': 'pa√≠s_sede', 'Attendance': 'comparecimento',
                    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
                    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
                    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
                    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
                    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

copa = wc['ano'].apply( lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')
wc['copa'] = copa
display(wc)
wc.info()

,time_1,time_2,gols_1,gols_2,data,ano,pa√≠s_sede,comparecimento,resultado,rodada,gols_1_detalhes,gols_2_detalhes,gols_1_contra,gols_2_contra,gols_1_penalti,gols_2_penalti,cartao_vermelho_1,cartao_vermelho_2,cartao_amarelo_1,cartao_amarelo_2,copa
0,Spain,England,1,0,2023-08-20,2023,"Australia, New Zealand",75784,1‚Äì0,Final,Olga Carmona ¬∑ 29‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['78‚Äô|1:0|Salma Paralluelo'],['55‚Äô|1:0|Lauren Hemp'],Feminina
1,Sweden,Australia,2,0,2023-08-19,2023,"Australia, New Zealand",49461,2‚Äì0,Third-place match,Kosovare Asllani ¬∑ 62‚Äô,NaN,NaN,NaN,Fridolina Rolf√∂ (P) ¬∑ 30‚Äô,NaN,NaN,NaN,"['88‚Äô|2:0|Elin Rubensson', '90+5‚Äô|2:0|Lina Hur...",['45+1‚Äô|1:0|Katrina Gorry'],Feminina
2,Australia,England,1,3,2023-08-16,2023,"Australia, New Zealand",75784,1‚Äì3,Semi-finals,Sam Kerr ¬∑ 63‚Äô,Ella Toone ¬∑ 36‚Äô|Lauren Hemp ¬∑ 71‚Äô|Alessia Rus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['10‚Äô|0:0|Alex Greenwood', '90+5‚Äô|1:3|Chloe Ke...",Feminina
3,Spain,Sweden,2,1,2023-08-15,2023,"Australia, New Zealand",43217,2‚Äì1,Semi-finals,Salma Paralluelo ¬∑ 81‚Äô|Olga Carmona ¬∑ 89‚Äô,Rebecka Blomqvist ¬∑ 88‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feminina
4,Australia,France,0,0,2023-08-12,2023,"Australia, New Zealand",49461,(7) 0‚Äì0 (6),Quarter-finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['92‚Äô|0:0|Katrina Gorry'],NaN,Feminina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Argentina,France,1,0,1930-07-15,1930,Uruguay,23409,1‚Äì0,Group stage,Luis Monti ¬∑ 81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1308,Yugoslavia,Brazil,2,1,1930-07-14,1930,Uruguay,24059,2‚Äì1,Group stage,Aleksandar Tirnaniƒá ¬∑ 21|Ivan Bek ¬∑ 30,Preguinho ¬∑ 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1309,Romania,Peru,3,1,1930-07-14,1930,Uruguay,2549,3‚Äì1,Group stage,Adalbert De»ôu ¬∑ 1|Constantin Stanciu ¬∑ 79|Nico...,Luis de Souza Ferreira ¬∑ 75,NaN,NaN,NaN,NaN,NaN,Pl√°cido Galindo ¬∑ 70,NaN,NaN,Masculina
1310,United States,Belgium,3,0,1930-07-13,1930,Uruguay,18346,3‚Äì0,Group stage,Bart McGhee ¬∑ 23|Tom Florie ¬∑ 45|Bert Patenaud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1311,France,Mexico,4,1,1930-07-13,1930,Uruguay,4444,4‚Äì1,Group stage,Lucien Laurent ¬∑ 19|Marcel Langiller ¬∑ 40|Andr...,Juan Carre√±o ¬∑ 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   object
 1   time_2             1312 non-null   object
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   object
 5   ano                1312 non-null   int64
 6   pa√≠s_sede          1312 non-null   object
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   object
 9   rodada             1312 non-null   object
 10  gols_1_detalhes    970 non-null    object
 11  gols_2_detalhes    771 non-null    object
 12  gols_1_contra      57 non-null     object
 13  gols_2_contra      30 non-null     object
 14  gols_1_penalti     170 non-null    object
 15  gols_2_penalti     119 non-null    object
 16  cartao_vermelho_1  59 non-null     object
 17  cartao_vermelho_2  65 non-null     object
 18  cartao_amarelo_1   834 non-null    object
 19  cartao_amarelo_2   857 non-null    object
 20  copa               1312 non-null   string
dtypes: int64(4), object(16), string(1)
memory usage: 128.2+ KB

#### Q1.
Fa√ßa as convers√µes de tipo necess√°rias para que a sa√≠da do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   pa√≠s_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [16]:
wc.info()
for i in [0,1,5,6,8,10,11,12,13,14,15,16,17,18,19,20]:
    wc[wc.columns[i]] = wc[wc.columns[i]].astype("string")

wc[wc.columns[4]] = pd.to_datetime(wc[wc.columns[4]], format= '%Y-%m-%d')  

wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   object
 1   time_2             1312 non-null   object
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   object
 5   ano                1312 non-null   int64
 6   pa√≠s_sede          1312 non-null   object
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   object
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
 21  11                 970 non-null    string
dtypes: category(1), int64(4), object(5), string(12)
memory usage: 129.7+ KB

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audi√™ncia da hist√≥ria.

In [ ]:
print(wc["comparecimento"].max())

#### Q3.
Aplicando opera√ß√µes sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas j√° aconteceram na hist√≥ria.

Exemplo de sa√≠da (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [ ]:
dic = {"Masculina": int((wc["copa"] == "Masculina").sum()), "Feminina": int((wc["copa"] == "Feminina").sum())}

print(dic)

#### Q3. 
Crie um dataframe `participacao` com as colunas `pa√≠s`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada pa√≠s participou, informando se √© da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 pa√≠ses de cada competi√ß√£o que mais participou de copas do mundo.

Exemplo de sa√≠da (valores inventados):
```
pa√≠s            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
pa√≠s            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

In [30]:
resultado = (
    wc.groupby(["pa√≠s_sede", "copa"])
      .size()
      .reset_index(name="num_copas")
)

resultado.columns = ["pa√≠s","copa","num_copas"]

wc_masc = resultado[resultado["copa"] == "Masculina"].sort_values("num_copas", ascending=False).reset_index(drop=True)
wc_fem = resultado[resultado["copa"] == "Feminina"].sort_values("num_copas", ascending=False).reset_index(drop=True)


print (wc_masc[:6])

print (wc_fem[:6])

           pa√≠s       copa  num_copas
0       Germany  Masculina        102
1        Brazil  Masculina         86
2        Mexico  Masculina         84
3        France  Masculina         82
4         Italy  Masculina         69
5  South Africa  Masculina         64
                     pa√≠s      copa  num_copas
0  Australia, New Zealand  Feminina         64
1           United States  Feminina         64
2                China PR  Feminina         58
3                  Canada  Feminina         52
4                  France  Feminina         52
5                 Germany  Feminina         32

#### Q4. 
* Crie um dataframe `gols` com duas colunas `pa√≠s` e `total_gols` com o total de gols marcados por cada pa√≠s durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
pa√≠s        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [31]:
gols = (
    wc.groupby("time_1")["gols_1"].sum()
      .add(wc.groupby("time_2")["gols_2"].sum(), fill_value=0)
      .reset_index()
)

gols.columns = ["pais", "total_gols"]

gols = gols.sort_values("total_gols", ascending=False).reset_index(drop=True)

print(gols)

                   pais  total_gols
0                Brazil       308.0
1               Germany       254.0
2         United States       182.0
3                France       180.0
4                Sweden       165.0
..                  ...         ...
87              Bolivia         1.0
88    Dutch East Indies         0.0
89              Vietnam         0.0
90                Zaire         0.0
91  Trinidad and Tobago         0.0

[92 rows x 2 columns]

#### Q5. 
Qual pa√≠s tomou mais cart√µes amarelos somando todas as copas?

Neste exerc√≠cio voc√™ vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observa√ß√£o √© uma string represetando uma lista dos cart√µes amarelos de um √∫nico jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16‚Äô|1:0|Rosana G√≥mez', '20‚Äô|2:0|Gabriela Ch√°vez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o m√©todo gen√©rico `apply` para chamar uma fun√ß√£o que voc√™ vai criar para transformar uma observa√ß√£o de cart√£o amarelo em uma contagem de elementos da lista. 

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Em seguida fa√ßa sua m√°gica para agrupar as informa√ß√µes por pa√≠s, acumular os cart√µes de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
pa√≠s        cart√µes amarelos
Argentina   97
England     93
Australia   93
...
```

In [40]:

def contar_cartoes(valor):
    if pd.isna(valor):
        return 0
    else:
        return valor.count("',") + 1
        
    

wc["num_cartoes_1"] = wc["cartao_amarelo_1"].apply(contar_cartoes)
wc["num_cartoes_2"] = wc["cartao_amarelo_2"].apply(contar_cartoes)

cartoes_casa = wc.groupby("time_1")["num_cartoes_1"].sum()
cartoes_fora = wc.groupby("time_2")["num_cartoes_2"].sum()

total_cartoes = cartoes_casa.add(cartoes_fora, fill_value=0)
cartoes = total_cartoes.reset_index()
cartoes.columns = ["pais", "total_cartoes"]

cartoes = cartoes.sort_values("total_cartoes", ascending=False).reset_index(drop=True)

print(cartoes)

                 pais  total_cartoes
0              Brazil          168.0
1           Argentina          162.0
2             Germany          124.0
3         Netherlands          117.0
4               Italy          107.0
..                ...            ...
87            Vietnam            2.0
88              Zaire            2.0
89     Chinese Taipei            1.0
90  Dutch East Indies            0.0
91               Cuba            0.0

[92 rows x 2 columns]

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de p√™nalti.

Para conseguir essa informa√ß√£o, voc√™ precisar√° trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas tamb√©m s√£o colunas textuais, onde cada observa√ß√µes apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol est√° na forma `'Jogador(a) ¬∑ minuto‚Äô'`. Por exemplo:
```
'Alex Morgan ¬∑ 12‚Äô|Rose Lavelle ¬∑ 20‚Äô'
```

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Recomendo criar um dicion√°rio √† parte, onde cada chave ser√° um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente ser√° a contagem de ocorr√™ncias desses nomes.

Em seguida basta converter o seu dicion√°rio em um dataframe e imprim√≠-lo na forma (valores n√£o s√£o inventados üòÅ):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```

In [59]:

def contar_jogadores(jogadores):
    if pd.isna(jogadores):
        return []
    else:
        partes = jogadores.split("|")
    nomes = []
    for jog in partes:
        nome = jog[:jog.find(" ¬∑ ")]
        nomes.append(nome)
    return nomes

jog_gol = {}

listas = [wc["gols_1_detalhes"], wc["gols_2_detalhes"], wc["gols_1_penalti"], wc["gols_2_penalti"]]

for lista in listas:

    for gol in lista:
    
        for jog in contar_jogadores(gol):
        
            if jog not in jog_gol.keys():
                jog_gol[jog] = 1
            else:
                jog_gol[jog] += 1

wc_gols = pd.DataFrame(jog_gol.items(), columns=["jogador", "total_gols"])
wc_gols = wc_gols.sort_values("total_gols", ascending=False).reset_index(drop=True)

print(wc_gols)

                       jogador  total_gols
0               Miroslav Klose          16
1                      Ronaldo          14
2                 Birgit Prinz          14
3                Just Fontaine          13
4                  Gerd M√ºller          13
...                        ...         ...
1984  Martina Voss-Tecklenburg           1
1985              Ulrika Kalte           1
1986              Randi Leinan           1
1987               Josef Zeman           1
1988          Manuel Rosas (P)           1

[1989 rows x 2 columns]